<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지 리스트</title>
    <link rel="stylesheet" href="/css/table.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        const ssUserId = [[${session.SS_USER_ID}]]; // Controller에서 받은 세션에 저장된 값
        const userId = "manager";/*[[${rDTO.userId}]];*/ // 공지사항 게시글 작성자 아이디
        const nSeq = [[${rDTO.noticeSeq}]]; // 현재 글번호, 자바에서 받을 변수들은 자바스크립트 변수로 저장하면 편함

        $(document).ready(function () {

            // 버튼 숨김
            $("#btnWrite").hide();

            // 글 작성 버튼 표시 여부 설정
            if (ssUserId === userId) {
                // 관리자 계정에만 버튼 표시
                $("#btnWrite").show();
            }

            // 글 작성
            $("#btnWrite").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                doWrite();
            })
        })

        //상세보기 이동
        function doDetail(seq) {
            location.href = "/notice/noticeInfo?nSeq=" + seq;
        }

        //글 작성하기
        function doWrite() {
            if (ssUserId === userId) {
                location.href = "/notice/noticeReg";

            } else if (ssUserId === "") {
                alert("관리자만 접근 가능합니다.");

            } else {
                alert("본인이 작성한 글만 수정 가능합니다.");

            }
        }

        /*]]>*/
    </script>
</head>
<body>
<section class="login first grey">
    <div class="container">
        <h2>공지사항</h2>
        <hr/>
        <br/>
        <div class="divTable minimalistBlack">
            <div class="divTableHeading">
                <div class="divTableRow">
                    <div class="divTableHead">순번</div>
                    <div class="divTableHead">제목</div>
                    <div class="divTableHead">조회수</div>
                    <div class="divTableHead">등록자</div>
                    <div class="divTableHead">등록일</div>
                </div>
            </div>
            <div class="divTableBody">
                <div class="divTableRow" th:each="dto: ${rList}">
                    <div class="divTableCell" th:if="${dto.noticeYn=='Y'}" th:text="공지사항"></div>
                    <div class="divTableCell" th:unless="${dto.noticeYn=='Y'}" th:text="${dto.noticeSeq}"></div>
                    <div class="divTableCell" th:text="${dto.title}" th:onclick="doDetail([[${dto.noticeSeq}]])"></div>
                    <div class="divTableCell" th:text="${dto.readCnt}"></div>
                    <div class="divTableCell" th:text="${dto.userName}"></div>
                    <div class="divTableCell" th:text="${dto.regDt}"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="pull-right" style="width: 100px; margin: 10px 0;">
    <button id="btnWrite" type="button">글쓰기</button>
</div>
</body>
</html>
