<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>재난탈출넘버원 로그인</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/font.css" rel="stylesheet"/> <!-- 폰트 css 추가 -->
    <style>
        .find-btn {
            text-align: center;
        }
    </style>
    <!-- =======================================================
    * Template Name: Logis
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        // HTML 로딩이 완료되고, 실행됨
        $(document).ready(function () {

            // 로그인
            $("#btnLogin").on("click", function () {
                let f = document.getElementById("f"); // form 태그

                if (f.userId.value === "") {
                    alert("아이디를 입력하세요.");
                    f.userId.focus();
                    return;
                }

                if (f.password.value === "") {
                    alert("비밀번호를 입력하세요.");
                    f.password.focus();
                    return;
                }

                // Ajax 호출해서 로그인하기
                $.ajax({
                        url: "/login/loginProc",
                        type: "post",
                        dataType: "JSON", // 전송결과는 JSON으로 받기!
                        data: $("#f").serialize(),
                        success: function (json) {

                            if (json.result === 1) { // 만약 로그인 성공하면,
                                alert(json.msg);
                                location.href = "/index";

                            } else { // 로그인 실패
                                alert(json.msg); // 메시지 띄우기
                                $("#userId").focus(); // 아이디 입력 항목에 마우스 커서 이동
                            }
                        }
                    }
                )
            })
        })
    </script>

</head>

<body>

<!-- ======= Header ======= -->
<th:block th:replace="top"></th:block>
<!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Login</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="../index.html">Home</a></li>
                    <li>Login</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Get a Quote Section ======= -->
    <section id="get-a-quote" class="get-a-quote">
        <div class="container" data-aos="fade-up">

            <div class="row g-0">

                <div class="col-lg-7" style="margin: auto">
                    <form id="f" method="post" class="php-email-form">
                        <h2 style="text-align: center; margin-bottom: 5%">로그인</h2>

                        <div class="row gy-4">

                            <div class="col-md-7" style="margin-left: auto; margin-right: auto;">
                                <input type="text" name="userId" class="form-control" placeholder="아이디">
                            </div>

                            <div class="col-md-7" style="margin-left: auto; margin-right: auto;">
                                <input type="password" name="password" class="form-control" placeholder="비밀번호">
                            </div>

                            <p style="text-align: center;">계정이 없으신가요? <a href="/signup"><span>회원가입</span></a></p>
                            <p style="text-align: center; width: 15%; margin-left: 34%; margin-top: 1%;"><a href="/login/findId"><span>아이디 찾기</span></a></p>
                            <p style="text-align: center; width: 20%; margin-top: 1%;"><a href="/login/findPassword"><span>비밀번호 찾기</span></a></p>

                            <!--네이버 로그인-->
                            <div class="find-btn">
                            <button type="button" id="btnNaver" onclick="location.href='https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=EjjCKVYZ02W5tA0_JBpE&redirect_uri=http://localhost:11000/auth/naver/callback&state=abs'" style="border: none; background: none;">
                                <img src="/img/btnW_완성형.png" alt="네이버 로그인" style="width: 150px; border-radius: 10px"></button>

                            <!--카카오 로그인-->
                            <a href="https://kauth.kakao.com/oauth/authorize?client_id=6706621d8f90ce8e40e411e21d348bf7&redirect_uri=http://localhost:11000/login/kakaoLogin&response_type=code"
                            style="width: 150px; margin-left: 25px">
                                <img src="/img/kakao_login_medium_narrow.png" alt="카카오 로그인"
                                     style="height: 37px;">
                            </a>
                            </div>


                            <div class="col-md-12 text-center">
                                <button type="button" id="btnLogin" style="width: 30%; height: 40px; border-radius: 10px; border: none; background-color: lightsteelblue;">로그인</button>
                            </div>

                        </div>
                    </form>
                </div><!-- End Quote Form -->

            </div>

        </div>
    </section><!-- End Get a Quote Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="../index.html" class="logo d-flex align-items-center">
                    <span>Logis</span>
                </a>
                <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies
                    darta donna mare fermentum iaculis eu non diam phasellus.</p>
                <div class="social-links d-flex mt-4">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">Product Management</a></li>
                    <li><a href="#">Marketing</a></li>
                    <li><a href="#">Graphic Design</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>
                    A108 Adam Street <br>
                    New York, NY 535022<br>
                    United States <br><br>
                    <strong>Phone:</strong> +1 5589 55488 55<br>
                    <strong>Email:</strong> info@example.com<br>
                </p>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="copyright">
            &copy; Copyright <strong><span>Logis</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>

</footer><!-- End Footer -->
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>

</body>

</html>