<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="index.html" class="logo d-flex align-items-center">
                    <span>재난탈출넘버원</span>
                </a>
                <p>저희는 재난 행동요령, 대피소 등 실시간 재난 상황 모니터링 서비스를 제공해드리고 있습니다.</p>
                <div class="social-links d-flex mt-4">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>링크</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">실시간 지도</a></li>
                    <li><a href="#">비상 대피소</a></li>
                    <li><a href="#">행동요령</a></li>
                    <li><a href="#">커뮤니티</a></li>
                    <li><a href="#">공지사항</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>제공 서비스</h4>
                <ul>
                    <li><a href="#">실시간 지도</a></li>
                    <li><a href="#">비상 대피소</a></li>
                    <li><a href="#">행동요령</a></li>
                    <li><a href="#">커뮤니티</a></li>
                    <li><a href="#">공지사항</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>
                    서울특별시<br>
                    강서구 우장산로10길 112<br>
                    폴리텍대학 서울강서캠퍼스 <br><br>
                    <strong>Phone:</strong> +1 5589 55488 55<br>
                    <strong>Email:</strong> info@example.com<br>
                </p>

            </div>

        </div>
    </div>


</footer>