<section id="featured-services" class="featured-services" style="padding-top: 0;">
  <div class="container" style="margin-top: 4%;">

    <div class="row gy-4">

      <div class="col-lg-3 col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up">
        <a href="/guide/dust"
           style="display: flex; align-items: center; text-decoration: none; margin: auto;" target="_self">
          <div class="icon flex-shrink-0"><img src="/img/황사.png" width="60px" height="60px"></div>
          <div>
            <h4 class="title">황사</h4>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up"
           data-aos-delay="100">
        <a href="/guide/storm"
           style="display: flex; align-items: center; text-decoration: none; margin: auto;" target="_self">
          <div class="icon flex-shrink-0"><img src="/img/태풍.png" width="60px" height="60px"></div>
          <div>
            <h4 class="title">태풍</h4>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up"
           data-aos-delay="200">
        <a href="/guide/snow"
           style="display: flex; align-items: center; text-decoration: none; margin: auto;" target="_self">
          <div class="icon flex-shrink-0"><img src="/img/대설.png" width="60px" height="60px"></div>
          <div>
            <h4 class="title">대설</h4>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up"
           data-aos-delay="200">
        <a href="/guide/earthquake"
           style="display: flex; align-items: center; text-decoration: none; margin: auto;" target="_self">
          <div class="icon flex-shrink-0"><img src="/img/지진.png" width="60px" height="60px"></div>
          <div>
            <h4 class="title">지진</h4>
          </div>
        </a>
      </div>

    </div>

  </div>
</section>