<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>재난탈출넘버원</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/font.css" rel="stylesheet"/> <!-- 폰트 css 추가 -->

    <!-- =======================================================
    * Template Name: Logis
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

    <!-- CSS 스타일링 -->
    <style>
        #slideshow-container {
            max-width: 100%;
            position: relative;
            overflow: hidden;
            /*border: 1px solid #ccc;*/
            border: none;
            padding: 10px;
            margin-bottom: 10px;
        }

        .slide {
            display: none;
        }

        .active {
            display: block;
        }

        a {
            text-decoration: none; /* 밑줄 제거 */
        }

        a:hover {
            text-decoration: underline; /* 호버 시 밑줄 추가 */
        }

        <!--워드클라우드 css-->
            #wordCloud {
                width: 500px;
                height: 500px;
                overflow: visible;
                position: relative;
                background-color: transparent !important; /* 배경을 투명하게 설정 */
            }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        /*]]>*/
    </script>


    <!--워드클라우드 자바스크립트 부분-->
    <script>
        // 서버에서 단어 빈도수 가져오기
        fetch('/word/analysis')
            .then(response => response.json())
            .then(wordFrequencies => {
                // AnyChart에서 사용할 형식으로 변환
                const wordCloudData = Object.entries(wordFrequencies).map(([word, frequency]) => ({ x: word, value: frequency }));

                // AnyChart 설정
                anychart.onDocumentReady(function () {
                    // 원형 클라우드 컨테이너의 너비와 높이 설정
                    const containerWidth = 500; // 조절 가능
                    const containerHeight = 500; // 조절 가능

                    // AnyChart 워드 클라우드 설정
                    const chart = anychart.tagCloud(wordCloudData);
                    chart.container('wordCloud').draw();

                    // 원형 클라우드에 맞게 위치 조정
                    const cloudBounds = chart.getBounds();
                    const offsetX = (containerWidth - cloudBounds.width) / 2;
                    const offsetY = (containerHeight - cloudBounds.height) / 2;

                    chart.container().bounds(0, 0, containerWidth, containerHeight);
                    chart.bounds(offsetX, offsetY, containerWidth, containerHeight);
                });
            })
            .catch(error => console.error('단어 빈도수를 가져오는 중 오류 발생:', error));
    </script>
    <!--워드클라우드(AnyChart) JS부분-->
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-tag-cloud.min.js"></script>
</head>

<body>

<!-- ======= Header ======= -->
<th:block th:replace="top"></th:block>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row gy-4 d-flex justify-content-between">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <br/><br/><br/><br/>
                <p data-aos="fade-up" data-aos-delay="100" style="float: none">
                    <a href="/disasterMsg/getDisasterMsgList" style="float: right;">전체보기</a>
                </p>
                <div class="table-row" id="slideshow-container" th:if="${rList.size() > 0}">
                    <!-- Thymeleaf 반복문을 사용하여 메시지를 순회하고 각 메시지에 대한 슬라이드 생성 -->
                    <div th:each="dto, iterStat : ${rList}" class="table-row slide" th:classappend="${iterStat.index == 0 ? 'active' : ''}">
                        <div class="table-row">
                            <p data-aos="fade-up" data-aos-delay="100" style="float: none">[[${dto.msg}]]</p>
                        </div>
                    </div>
                </div>

                <script>
                    // 슬라이드를 자동으로 변경하는 함수
                    function showSlides() {
                        var slides = document.getElementsByClassName("slide");
                        for (var i = 0; i < slides.length; i++) {
                            slides[i].style.display = "none";
                        }

                        slideIndex++;

                        if (slideIndex > slides.length) {
                            slideIndex = 1;
                        }

                        slides[slideIndex - 1].style.display = "block";
                        setTimeout(showSlides, 3000); // 3초마다 슬라이드 변경
                    }

                    // 페이지 로드 시 슬라이드 변경 함수 호출
                    var slideIndex = 0;
                    showSlides();
                </script>

                <form action="#" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
                    <input type="text" class="form-control" placeholder="ZIP code or CitY">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>

                <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

                    <div class="col-lg-3 col-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                            <p>올해</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                            <p>월별</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                            <p>지진</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                            <p>태풍</p>
                        </div>
                    </div><!-- End Stats Item -->

                </div>
            </div>

            <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                <div id="wordCloud" style="height: 100%;"></div>
                <!--        <img src="/img/hero-img.svg" class="img-fluid mb-3 mb-lg-0" alt="">-->
            </div>

        </div>
    </div>
</section><!-- End Hero Section -->

<main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
                    <div style="max-width: 20%"><img src="/img/지도.png" style="width: 60%; height: 60%"></div>
                    <div>
                        <h4 class="title">재난 지도</h4>
                        <p class="description">재난 발생 지역, 재난 발생 인근 CCTV, 인근 대피소</p>
                        <a href="/map/shelterMap" class="readmore stretched-link"><span>더보기</span><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
                <!-- End Service Item -->

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div style="max-width: 20%"><img src="/img/행동요령.png" style="width: 60%; height: 60%"></div>
                    <div>
                        <h4 class="title">재난 시 행동요령</h4>
                        <p class="description">재난 시 해야 할 행동 요령에 대한 정보를 제공해드립니다.</p>
                        <a href="/guide/dust" class="readmore stretched-link"><span>더보기</span><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
                    <div  style="max-width: 20%"><img src="/img/게시판.png" style="width: 60%; height: 60%"></div>
                    <div>
                        <h4 class="title">커뮤니티</h4>
                        <p class="description">재난과 관련된 정보를 여러 사람들과 나누어보세요</p>
                        <a href="/community/communityList" class="readmore stretched-link"><span>더보기</span><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

            </div>

        </div>

    </section><!-- End Featured Services Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about pt-0">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4">
                <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
                    <img src="/img/about.jpg" class="img-fluid" alt="">
                    <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
                </div>
                <div class="col-lg-6 content order-last  order-lg-first">
                    <h3>About Us</h3>
                    <p>
                        Dolor iure expedita id fuga asperiores qui sunt consequatur minima. Quidem voluptas deleniti. Sit quia molestiae quia quas qui magnam itaque veritatis dolores. Corrupti totam ut eius incidunt reiciendis veritatis asperiores placeat.
                    </p>
                    <ul>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-diagram-3"></i>
                            <div>
                                <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                                <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-fullscreen-exit"></i>
                            <div>
                                <h5>Magnam soluta odio exercitationem reprehenderi</h5>
                                <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-broadcast"></i>
                            <div>
                                <h5>Voluptatem et qui exercitationem</h5>
                                <p>Et velit et eos maiores est tempora et quos dolorem autem tempora incidunt maxime veniam</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <span>Our Services</span>
                <h2>Our Services</h2>

            </div>

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/storage-service.jpg" alt="" class="img-fluid">
                        </div>
                        <h3><a href="service-details.html" class="stretched-link">Storage</a></h3>
                        <p>Cumque eos in qui numquam. Aut aspernatur perferendis sed atque quia voluptas quisquam repellendus temporibus itaqueofficiis odit</p>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/logistics-service.jpg" alt="" class="img-fluid">
                        </div>
                        <h3><a href="service-details.html" class="stretched-link">Logistics</a></h3>
                        <p>Asperiores provident dolor accusamus pariatur dolore nam id audantium ut et iure incidunt molestiae dolor ipsam ducimus occaecati nisi</p>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/cargo-service.jpg" alt="" class="img-fluid">
                        </div>
                        <h3><a href="service-details.html" class="stretched-link">Cargo</a></h3>
                        <p>Dicta quam similique quia architecto eos nisi aut ratione aut ipsum reiciendis sit doloremque oluptatem aut et molestiae ut et nihil</p>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/trucking-service.jpg" alt="" class="img-fluid">
                        </div>
                        <h3><a href="service-details.html" class="stretched-link">Trucking</a></h3>
                        <p>Dicta quam similique quia architecto eos nisi aut ratione aut ipsum reiciendis sit doloremque oluptatem aut et molestiae ut et nihil</p>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/packaging-service.jpg" alt="" class="img-fluid">
                        </div>
                        <h3><a href="service-details.html" class="stretched-link">Packaging</a></h3>
                        <p>Illo consequuntur quisquam delectus praesentium modi dignissimos facere vel cum onsequuntur maiores beatae consequatur magni voluptates</p>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="card">
                        <div class="card-img">
                            <img src="/img/warehousing-service.jpg" alt="" class="img-fluid">
                        </div>
                        <h3><a href="service-details.html" class="stretched-link">Warehousing</a></h3>
                        <p>Quas assumenda non occaecati molestiae. In aut earum sed natus eatae in vero. Ab modi quisquam aut nostrum unde et qui est non quo nulla</p>
                    </div>
                </div><!-- End Card Item -->

            </div>

        </div>
    </section><!-- End Services Section -->


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="index.html" class="logo d-flex align-items-center">
                    <span>Logis</span>
                </a>
                <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
                <div class="social-links d-flex mt-4">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">Product Management</a></li>
                    <li><a href="#">Marketing</a></li>
                    <li><a href="#">Graphic Design</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>
                    A108 Adam Street <br>
                    New York, NY 535022<br>
                    United States <br><br>
                    <strong>Phone:</strong> +1 5589 55488 55<br>
                    <strong>Email:</strong> info@example.com<br>
                </p>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="copyright">
            &copy; Copyright <strong><span>Logis</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>

</footer><!-- End Footer -->
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>

</body>

</html>