<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>재난탈출넘버원</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/font.css" rel="stylesheet"/> <!-- 폰트 css 추가 -->

    <!-- =======================================================
    * Template Name: Logis
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

    <!-- CSS 스타일링 -->
    <style>
        #slideshow-container {
            max-width: 100%;
            position: relative;
            overflow: hidden;
            /*border: 1px solid #ccc;*/
            border: none;
            padding: 10px;
            margin-bottom: 10px;
        }

        .slide {
            display: none;
        }

        .active {
            display: block;
        }

        a {
            text-decoration: none; /* 밑줄 제거 */
        }

        a:hover {
            text-decoration: underline; /* 호버 시 밑줄 추가 */
        }

        /*워드클라우드 css*/
        #wordCloud {
            width: 500px;
            height: 500px;
            overflow: visible;
            position: relative;
            background-color: transparent !important; /* 배경을 투명하게 설정 */
        }


        /*슬라이드 css*/
        .outer {
            width: 50%;
            height: auto;
            margin: 0 auto;
            overflow-x: hidden;
            position: relative;

        }

        .inner-list {
            display: flex;
            transition: .3s ease-out;
            height: 100%;
        }

        .inner {
            box-sizing: border-box;
            margin: 20px;
            padding: 15px;
        }

        .button-list {
            text-align: center;
            position: absolute;
            width: 100%;
            bottom: 10px;
        }

        .indicator {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #ccc;
            margin: 0 5px;
            cursor: pointer;
        }

        .indicator.active {
            background-color: #333;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        /*]]>*/
    </script>


    <!--워드클라우드 자바스크립트 부분-->
    <script>
        // 서버에서 단어 빈도수 가져오기
        fetch('/word/analysis')
            .then(response => response.json())
            .then(wordFrequencies => {
                // AnyChart에서 사용할 형식으로 변환
                const wordCloudData = Object.entries(wordFrequencies).map(([word, frequency]) => ({ x: word, value: frequency }));

                // AnyChart 설정
                anychart.onDocumentReady(function () {
                    // 원형 클라우드 컨테이너의 너비와 높이 설정
                    const containerWidth = 500; // 조절 가능
                    const containerHeight = 500; // 조절 가능

                    // AnyChart 워드 클라우드 설정
                    const chart = anychart.tagCloud(wordCloudData);
                    chart.container('wordCloud').draw();

                    // 원형 클라우드에 맞게 위치 조정
                    const cloudBounds = chart.getBounds();
                    const offsetX = (containerWidth - cloudBounds.width) / 2;
                    const offsetY = (containerHeight - cloudBounds.height) / 2;

                    chart.container().bounds(0, 0, containerWidth, containerHeight);
                    chart.bounds(offsetX, offsetY, containerWidth, containerHeight);
                });
            })
            .catch(error => console.error('단어 빈도수를 가져오는 중 오류 발생:', error));
    </script>
    <!--워드클라우드(AnyChart) JS부분-->
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-tag-cloud.min.js"></script>
</head>

<body>

<!-- ======= Header ======= -->
<th:block th:replace="top"></th:block>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row gy-4 d-flex justify-content-between">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <br/><br/><br/><br/>
                <p data-aos="fade-up" data-aos-delay="100" style="float: none">
                    <a href="/disasterMsg/getDisasterMsgList" style="float: right;">전체보기</a>
                </p>
                <div class="table-row" id="slideshow-container" th:if="${rList.size() > 0}">
                    <!-- Thymeleaf 반복문을 사용하여 메시지를 순회하고 각 메시지에 대한 슬라이드 생성 -->
                    <div th:each="dto, iterStat : ${rList}" class="table-row slide" th:classappend="${iterStat.index == 0 ? 'active' : ''}">
                        <div class="table-row">
                            <p data-aos="fade-up" data-aos-delay="100" style="float: none">[[${dto.msg}]]</p>
                        </div>
                    </div>
                </div>

                <script>
                    // 슬라이드를 자동으로 변경하는 함수
                    function showSlides() {
                        var slides = document.getElementsByClassName("slide");
                        for (var i = 0; i < slides.length; i++) {
                            slides[i].style.display = "none";
                        }

                        slideIndex++;

                        if (slideIndex > slides.length) {
                            slideIndex = 1;
                        }

                        slides[slideIndex - 1].style.display = "block";
                        setTimeout(showSlides, 5000); // 3초마다 슬라이드 변경
                    }

                    // 페이지 로드 시 슬라이드 변경 함수 호출
                    var slideIndex = 0;
                    showSlides();
                </script>

                <form action="#" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
                    <div style="color: #0a0d13; margin-left: 23%">
                        지진, 태풍 건수 ( 당일 기준 3일전까지의 데이터 )
                    </div>
<!--                    <input type="text" class="form-control" placeholder="ZIP code or CitY">-->
<!--                    <button type="submit" class="btn btn-primary">Search</button>-->
                </form>

                <br/>
                <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

                    <p data-aos="fade-up" data-aos-delay="100" style="margin-bottom: -5%; float: none;">
                        <a href="/earthquake/getEarthquakeLiveList" style="float: right;">더보기</a>
                    </p>

                    <div class="col-lg-3 col-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span th:attr="data-purecounter-start='0', data-purecounter-end=${totalTyCount}, data-purecounter-duration='1'" class="purecounter"></span>
                            <p>올해</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span th:attr="data-purecounter-start='0', data-purecounter-end=${totalLyCount}, data-purecounter-duration='1'" class="purecounter"></span>
                            <p>지난해</p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span th:attr="data-purecounter-start='0', data-purecounter-end=${elSize}, data-purecounter-duration='1'" class="purecounter"></span>
                            <p>지진</p>
                        </div>
                    </div><!-- End Stats Item -->


                    <div class="col-lg-3 col-6">
                        <div class="stats-item text-center w-100 h-100">
                            <span th:attr="data-purecounter-start='0', data-purecounter-end=${tlSize}, data-purecounter-duration='1'" class="purecounter"></span>
                            <p>태풍</p>
                        </div>
                    </div><!-- End Stats Item -->

                </div>
            </div>

            <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                <div id="wordCloud" style="height: 100%;"></div>
                <!--        <img src="/img/hero-img.svg" class="img-fluid mb-3 mb-lg-0" alt="">-->
            </div>

        </div>
    </div>
</section><!-- End Hero Section -->

<main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
                    <div style="max-width: 20%"><img src="/img/산불.png" style="width: 60%; height: 60%"></div>
                    <div>
                        <h4 class="title">산불</h4>
                        <p class="description">산불 정보를 제공해드립니다.</p>
                        <a href="/fire/getFireList" class="readmore stretched-link"><span>더보기</span><i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
                <!-- End Service Item -->

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div style="max-width: 20%"><img src="/img/대설.png" style="width: 60%; height: 60%"></div>
                    <div>
                        <h4 class="title">적설</h4>
                        <p class="description">적설 정보를 제공해드립니다.</p>
                        <a href="/snow/getSnowList" class="readmore stretched-link"><span>더보기</span><i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
                    <div style="max-width: 20%"><img src="/img/황사.png" style="width: 60%; height: 60%"></div>
                    <div>
                        <h4 class="title">황사</h4>
                        <p class="description">황사 정보를 제공해드립니다.</p>
                        <a href="/dust/getDustList" class="readmore stretched-link"><span>더보기</span><i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div><!-- End Service Item -->

            </div>

        </div>

    </section><!-- End Featured Services Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about pt-0">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4">

                <!--재난 영상 슬라이드 부분 시작-->
                <div class="outer">
                    <div class="inner-list">
                        <div class="inner">
                            <iframe width="100%" height="100%"
                                    src="https://www.youtube.com/embed/UGK8JZFAc0w?si=Jw8TbSgnNwKwz80N"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen></iframe>
                        </div>
                        <div class="inner">
                            <iframe width="100%" height="100%"
                                    src="https://www.youtube.com/embed/pp5dZguIVj8?si=yQm5P-6tr7y8qIRO"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen=""></iframe>
                        </div>
                        <div class="inner">
                            <iframe width="100%" height="100%"
                                    src="https://www.youtube.com/embed/EzSjNkqe_Mw?si=a6bcHBVv-qmcxHWg"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen></iframe>
                        </div>
                        <div class="inner">
                            <iframe width="100%" height="100%"
                                    src="https://www.youtube.com/embed/XS6DvHI7ZYU?si=Vustb__78Dm_GP8_"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="button-list">
                        <div class="indicator" onclick="currentSlide(0)"></div>
                        <div class="indicator" onclick="currentSlide(1)"></div>
                        <div class="indicator" onclick="currentSlide(2)"></div>
                        <div class="indicator" onclick="currentSlide(3)"></div>
                    </div>
                </div>

                <script>
                    const outer = document.querySelector('.outer');
                    const innerList = document.querySelector('.inner-list');
                    const inners = document.querySelectorAll('.inner');
                    const indicators = document.querySelectorAll('.indicator');
                    let currentIndex = 0;

                    inners.forEach((inner) => {
                        inner.style.width = `${outer.clientWidth}px`;
                    });

                    innerList.style.width = `${outer.clientWidth * inners.length}px`;

                    function showSlide(index) {
                        currentIndex = index;
                        innerList.style.marginLeft = `-${outer.clientWidth * currentIndex}px`;
                        updateIndicators();
                    }

                    function updateIndicators() {
                        indicators.forEach((indicator, index) => {
                            if (index === currentIndex) {
                                indicator.classList.add('active');
                            } else {
                                indicator.classList.remove('active');
                            }
                        });
                    }

                    function currentSlide(index) {
                        showSlide(index);
                    }

                    indicators.forEach((indicator, index) => {
                        indicator.addEventListener('click', () => {
                            currentSlide(index);
                        });
                    });
                </script>

                <!--재난 영상 슬라이드 부분 끝-->


                <div class="col-lg-6 content order-last  order-lg-first">
                    <h3>재난 행동요령</h3>
                    <p>
                        재난 시 행동요령에 대해 자세히 알고 싶다면 링크로 들어가세요
                    </p>
                    <ul>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <!--              <i class="bi bi-diagram-3"></i>-->
                            <div>
                                <a href="/guide/dust" style="color: black;">
                                    <h5>황사
                                    </h5>
                                    <p>TV, 라디오, 인터넷 등에서 황사가 예보된 때에는 최대한 야외활동을 자제하고 주변의 독거노인 등 건강이 염려되는 분들의 지역 주민들과 함께
                                        안부를 살펴봅니다.</p>
                                </a>
                            </div>
                        </li>


                        <li data-aos="fade-up" data-aos-delay="200">
                            <!--              <i class="bi bi-fullscreen-exit"></i>-->
                            <div>
                                <a href="/guide/storm" style="color: black;">
                                    <h5>태풍</h5>
                                    <p>태풍이 시작된 때에는 이웃과 함께 신속히 안전한 곳으로 대피하고, 외출을 삼가하며
                                        이웃이나 가족에게 연락하여 안전 여부를 확인하고 위험상황을 알려줍니다.</p>
                                </a>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="300">
                            <!--              <i class="bi bi-broadcast"></i>-->
                            <div>
                                <a href="/guide/snow" style="color: black;">
                                    <h5>대설</h5>
                                    <p>자제하고, 외출을 할 경우에는 대중교통을 이용하거나 자동차의 월동 장비를 반드시 구비해야 합니다.
                                        보온 유지를 위해 외투, 장갑, 모자 등을 착용합니다.</p>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="index.html" class="logo d-flex align-items-center">
                    <span>Logis</span>
                </a>
                <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
                <div class="social-links d-flex mt-4">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">Product Management</a></li>
                    <li><a href="#">Marketing</a></li>
                    <li><a href="#">Graphic Design</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>
                    A108 Adam Street <br>
                    New York, NY 535022<br>
                    United States <br><br>
                    <strong>Phone:</strong> +1 5589 55488 55<br>
                    <strong>Email:</strong> info@example.com<br>
                </p>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="copyright">
            &copy; Copyright <strong><span>Logis</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>

</footer><!-- End Footer -->
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/vendor/aos/aos.js"></script>
<script src="/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/js/main.js"></script>

</body>

</html>