<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="/index" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>재난탈출넘버원</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="/index" class="active">Home</a></li>
                <li><a href="/map">실시간 지도</a></li>
                <li><a href="/community/communityList">커뮤니티</a></li>
                <li><a href="/notice/noticeList">공지사항</a></li>
                <li><a href="/profile">마이페이지</a></li>
                <!--<li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="#">Drop Down 1</a></li>
                    <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                      <ul>
                        <li><a href="#">Deep Drop Down 1</a></li>
                        <li><a href="#">Deep Drop Down 2</a></li>
                        <li><a href="#">Deep Drop Down 3</a></li>
                        <li><a href="#">Deep Drop Down 4</a></li>
                        <li><a href="#">Deep Drop Down 5</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Drop Down 2</a></li>
                    <li><a href="#">Drop Down 3</a></li>
                    <li><a href="#">Drop Down 4</a></li>
                  </ul>
                </li>-->
                <li th:if="${session['SS_USER_ID'] != null}"><a class="get-a-quote" id="btnLogout">로그아웃</a></li>
                <li th:unless="${session['SS_USER_ID'] != null}"><a class="get-a-quote" th:href="@{/login}">로그인</a></li>

                <script type="text/javascript">
                    document.getElementById("btnLogout").addEventListener("click", function (event) {
                        if (confirm("로그아웃 하시겠습니까?")) {

                            window.location.href = "/login/logout"; // 로그아웃 페이지로 이동

                        } else {

                            event.preventDefault(); // 기본 동작인 링크 이동을 취소
                        }
                    });
                </script>

            </ul>
        </nav><!-- .navbar -->

    </div>
</header>