<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <!-- 최신버전 Alpha를 이용하고 싶다면 아래 스크립트를 사용 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/hls.js@alpha"></script> -->

    <script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>

    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
    </style>

</head>

<body>

<video id="video" controls autoplay muted style="width: 60%"></video>

<script th:inline="javascript">

    var video = document.getElementById('video');
    var videoSrc = /*[[${rDTO.cctvUrl}]]*/ '';

    console.log("rDTO.cctvUrl : " + videoSrc);

    // HLS를 지원하는 경우
    if (video.canPlayType('application/vnd.apple.mpegurl')) {

        video.src = videoSrc;

        video.addEventListener('loadedmetadata', function() {

            // 비디오의 시작 시간을 0초로 설정하여 자동 재생
            video.currentTime = 0;
            video.play();

        });

    } else {

        // HLS를 지원하지 않는 경우, hls.js를 사용
        var hls = new Hls();
        hls.loadSource(videoSrc);
        hls.attachMedia(video);

        video.addEventListener('loadedmetadata', function() {

            // 비디오의 시작 시간을 0초로 설정하여 자동 재생
            video.currentTime = 0;
            video.play();

        });

    }

</script>

</body>
</html>