<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.poly.persistance.mapper.IFireMapper">

    <!-- 수집된 산불 정보 조회하기 -->
    <select id="getFireList" parameterType="FireDTO" resultType="FireDTO">
        SELECT CITY,
               GRADE,
               SCORE,
               COLLECT_TIME
        FROM FIRE
    </select>

</mapper>