<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.poly.persistance.mapper.IFireMapper">

    <!-- 수집된 산불 정보 DB에 등록하기 -->
    <insert id="insertFireInfo" parameterType="FireDTO">
        INSERT INTO FIRE
        (COLLECT_TIME,
         CITY,
         GRADE,
         SCORE)
        VALUES (#{collectTime},
                #{city},
                #{grade},
                #{score})
    </insert>

    <!-- DB에 저장된 산불 정보 삭제하기 -->
    <delete id="deleteFireInfo" parameterType="FireDTO">
        DELETE FROM FIRE
    </delete>

    <!-- 수집된 산불 정보 조회하기 -->
    <select id="getFireInfo" parameterType="FireDTO" resultType="FireDTO">
        SELECT CITY,
               GRADE,
               SCORE,
               COLLECT_TIME
        FROM FIRE
        WHERE COLLECT_TIME LIKE #{collectTime} || '%'
        ORDER BY CITY ASC
    </select>

</mapper>